:root,
:host([data-theme=light]),
[data-theme=light] {
    color-scheme: light;
    --x-color-gray-0: hsl(0, 0%, 97.5%);
    --x-color-gray-1: hsl(240, 4.8%, 95.9%);
    --x-color-gray-2: hsl(240, 5.9%, 90%);
    --x-color-gray-3: hsl(240, 4.9%, 83.9%);
    --x-color-gray-4: hsl(240, 5%, 64.9%);
    --x-color-gray-5: hsl(240, 3.8%, 46.1%);
    --x-color-gray-6: hsl(240, 5.2%, 33.9%);
    --x-color-gray-7: hsl(240, 5.3%, 26.1%);
    --x-color-gray-8: hsl(240, 3.7%, 15.9%);
    --x-color-gray-9: hsl(240, 5.9%, 10%);
    --x-color-gray-10: hsl(240, 7.3%, 8%);
    --x-color-red-0: hsl(0, 85.7%, 97.3%);
    --x-color-red-1: hsl(0, 93.3%, 94.1%);
    --x-color-red-2: hsl(0, 96.3%, 89.4%);
    --x-color-red-3: hsl(0, 93.5%, 81.8%);
    --x-color-red-4: hsl(0, 90.6%, 70.8%);
    --x-color-red-5: hsl(0, 84.2%, 60.2%);
    --x-color-red-6: hsl(0, 72.2%, 50.6%);
    --x-color-red-7: hsl(0, 73.7%, 41.8%);
    --x-color-red-8: hsl(0, 70%, 35.3%);
    --x-color-red-9: hsl(0, 62.8%, 30.6%);
    --x-color-red-10: hsl(0, 60%, 19.6%);
    --x-color-orange-0: hsl(33.3, 100%, 96.5%);
    --x-color-orange-1: hsl(34.3, 100%, 91.8%);
    --x-color-orange-2: hsl(32.1, 97.7%, 83.1%);
    --x-color-orange-3: hsl(30.7, 97.2%, 72.4%);
    --x-color-orange-4: hsl(27, 96%, 61%);
    --x-color-orange-5: hsl(24.6, 95%, 53.1%);
    --x-color-orange-6: hsl(20.5, 90.2%, 48.2%);
    --x-color-orange-7: hsl(17.5, 88.3%, 40.4%);
    --x-color-orange-8: hsl(15, 79.1%, 33.7%);
    --x-color-orange-9: hsl(15.3, 74.6%, 27.8%);
    --x-color-orange-10: hsl(15.2, 69.1%, 19%);
    --x-color-amber-0: hsl(48, 100%, 96.1%);
    --x-color-amber-1: hsl(48, 96.5%, 88.8%);
    --x-color-amber-2: hsl(48, 96.6%, 76.7%);
    --x-color-amber-3: hsl(45.9, 96.7%, 64.5%);
    --x-color-amber-4: hsl(43.3, 96.4%, 56.3%);
    --x-color-amber-5: hsl(37.7, 92.1%, 50.2%);
    --x-color-amber-6: hsl(32.1, 94.6%, 43.7%);
    --x-color-amber-7: hsl(26, 90.5%, 37.1%);
    --x-color-amber-8: hsl(22.7, 82.5%, 31.4%);
    --x-color-amber-9: hsl(21.7, 77.8%, 26.5%);
    --x-color-amber-10: hsl(22.9, 74.1%, 16.7%);
    --x-color-yellow-0: hsl(54.5, 91.7%, 95.3%);
    --x-color-yellow-1: hsl(54.9, 96.7%, 88%);
    --x-color-yellow-2: hsl(52.8, 98.3%, 76.9%);
    --x-color-yellow-3: hsl(50.4, 97.8%, 63.5%);
    --x-color-yellow-4: hsl(47.9, 95.8%, 53.1%);
    --x-color-yellow-5: hsl(45.4, 93.4%, 47.5%);
    --x-color-yellow-6: hsl(40.6, 96.1%, 40.4%);
    --x-color-yellow-7: hsl(35.5, 91.7%, 32.9%);
    --x-color-yellow-8: hsl(31.8, 81%, 28.8%);
    --x-color-yellow-9: hsl(28.4, 72.5%, 25.7%);
    --x-color-yellow-10: hsl(33.1, 69%, 13.9%);
    --x-color-lime-0: hsl(78.3, 92%, 95.1%);
    --x-color-lime-1: hsl(79.6, 89.1%, 89.2%);
    --x-color-lime-2: hsl(80.9, 88.5%, 79.6%);
    --x-color-lime-3: hsl(82, 84.5%, 67.1%);
    --x-color-lime-4: hsl(82.7, 78%, 55.5%);
    --x-color-lime-5: hsl(83.7, 80.5%, 44.3%);
    --x-color-lime-6: hsl(84.8, 85.2%, 34.5%);
    --x-color-lime-7: hsl(85.9, 78.4%, 27.3%);
    --x-color-lime-8: hsl(86.3, 69%, 22.7%);
    --x-color-lime-9: hsl(87.6, 61.2%, 20.2%);
    --x-color-lime-10: hsl(86.5, 60.6%, 13.9%);
    --x-color-green-0: hsl(138.5, 76.5%, 96.7%);
    --x-color-green-1: hsl(140.6, 84.2%, 92.5%);
    --x-color-green-2: hsl(141, 78.9%, 85.1%);
    --x-color-green-3: hsl(141.7, 76.6%, 73.1%);
    --x-color-green-4: hsl(141.9, 69.2%, 58%);
    --x-color-green-5: hsl(142.1, 70.6%, 45.3%);
    --x-color-green-6: hsl(142.1, 76.2%, 36.3%);
    --x-color-green-7: hsl(142.4, 71.8%, 29.2%);
    --x-color-green-8: hsl(142.8, 64.2%, 24.1%);
    --x-color-green-9: hsl(143.8, 61.2%, 20.2%);
    --x-color-green-10: hsl(144.3, 60.7%, 12%);
    --x-color-emerald-0: hsl(151.8, 81%, 95.9%);
    --x-color-emerald-1: hsl(149.3, 80.4%, 90%);
    --x-color-emerald-2: hsl(152.4, 76%, 80.4%);
    --x-color-emerald-3: hsl(156.2, 71.6%, 66.9%);
    --x-color-emerald-4: hsl(158.1, 64.4%, 51.6%);
    --x-color-emerald-5: hsl(160.1, 84.1%, 39.4%);
    --x-color-emerald-6: hsl(161.4, 93.5%, 30.4%);
    --x-color-emerald-7: hsl(162.9, 93.5%, 24.3%);
    --x-color-emerald-8: hsl(163.1, 88.1%, 19.8%);
    --x-color-emerald-9: hsl(164.2, 85.7%, 16.5%);
    --x-color-emerald-10: hsl(164.3, 87.5%, 9.4%);
    --x-color-teal-0: hsl(166.2, 76.5%, 96.7%);
    --x-color-teal-1: hsl(167.2, 85.5%, 89.2%);
    --x-color-teal-2: hsl(168.4, 83.8%, 78.2%);
    --x-color-teal-3: hsl(170.6, 76.9%, 64.3%);
    --x-color-teal-4: hsl(172.5, 66%, 50.4%);
    --x-color-teal-5: hsl(173.4, 80.4%, 40%);
    --x-color-teal-6: hsl(174.7, 83.9%, 31.6%);
    --x-color-teal-7: hsl(175.3, 77.4%, 26.1%);
    --x-color-teal-8: hsl(176.1, 69.4%, 21.8%);
    --x-color-teal-9: hsl(175.9, 60.8%, 19%);
    --x-color-teal-10: hsl(176.5, 58.6%, 11.4%);
    --x-color-cyan-0: hsl(183.2, 100%, 96.3%);
    --x-color-cyan-1: hsl(185.1, 95.9%, 90.4%);
    --x-color-cyan-2: hsl(186.2, 93.5%, 81.8%);
    --x-color-cyan-3: hsl(187, 92.4%, 69%);
    --x-color-cyan-4: hsl(187.9, 85.7%, 53.3%);
    --x-color-cyan-5: hsl(188.7, 94.5%, 42.7%);
    --x-color-cyan-6: hsl(191.6, 91.4%, 36.5%);
    --x-color-cyan-7: hsl(192.9, 82.3%, 31%);
    --x-color-cyan-8: hsl(194.4, 69.6%, 27.1%);
    --x-color-cyan-9: hsl(196.4, 63.6%, 23.7%);
    --x-color-cyan-10: hsl(196.8, 61%, 16.1%);
    --x-color-sky-0: hsl(204, 100%, 97.1%);
    --x-color-sky-1: hsl(204, 93.8%, 93.7%);
    --x-color-sky-2: hsl(200.6, 94.4%, 86.1%);
    --x-color-sky-3: hsl(199.4, 95.5%, 73.9%);
    --x-color-sky-4: hsl(198.4, 93.2%, 59.6%);
    --x-color-sky-5: hsl(198.6, 88.7%, 48.4%);
    --x-color-sky-6: hsl(200.4, 98%, 39.4%);
    --x-color-sky-7: hsl(201.3, 96.3%, 32.2%);
    --x-color-sky-8: hsl(201, 90%, 27.5%);
    --x-color-sky-9: hsl(202, 80.3%, 23.9%);
    --x-color-sky-10: hsl(202.3, 73.8%, 16.5%);
    --x-color-blue-0: hsl(213.8, 100%, 96.9%);
    --x-color-blue-1: hsl(214.3, 94.6%, 92.7%);
    --x-color-blue-2: hsl(213.3, 96.9%, 87.3%);
    --x-color-blue-3: hsl(211.7, 96.4%, 78.4%);
    --x-color-blue-4: hsl(213.1, 93.9%, 67.8%);
    --x-color-blue-5: hsl(217.2, 91.2%, 59.8%);
    --x-color-blue-6: hsl(221.2, 83.2%, 53.3%);
    --x-color-blue-7: hsl(224.3, 76.3%, 48%);
    --x-color-blue-8: hsl(225.9, 70.7%, 40.2%);
    --x-color-blue-9: hsl(224.4, 64.3%, 32.9%);
    --x-color-blue-10: hsl(226.2, 55.3%, 18.4%);
    --x-color-indigo-0: hsl(225.9, 100%, 96.7%);
    --x-color-indigo-1: hsl(226.5, 100%, 93.9%);
    --x-color-indigo-2: hsl(228, 96.5%, 88.8%);
    --x-color-indigo-3: hsl(229.7, 93.5%, 81.8%);
    --x-color-indigo-4: hsl(234.5, 89.5%, 73.9%);
    --x-color-indigo-5: hsl(238.7, 83.5%, 66.7%);
    --x-color-indigo-6: hsl(243.4, 75.4%, 58.6%);
    --x-color-indigo-7: hsl(244.5, 57.9%, 50.6%);
    --x-color-indigo-8: hsl(243.7, 54.5%, 41.4%);
    --x-color-indigo-9: hsl(242.2, 47.4%, 34.3%);
    --x-color-indigo-10: hsl(243.5, 43.6%, 22.9%);
    --x-color-violet-0: hsl(250, 100%, 97.6%);
    --x-color-violet-1: hsl(251.4, 91.3%, 95.5%);
    --x-color-violet-2: hsl(250.5, 95.2%, 91.8%);
    --x-color-violet-3: hsl(252.5, 94.7%, 85.1%);
    --x-color-violet-4: hsl(255.1, 91.7%, 76.3%);
    --x-color-violet-5: hsl(258.3, 89.5%, 66.3%);
    --x-color-violet-6: hsl(262.1, 83.3%, 57.8%);
    --x-color-violet-7: hsl(263.4, 70%, 50.4%);
    --x-color-violet-8: hsl(263.4, 69.3%, 42.2%);
    --x-color-violet-9: hsl(263.5, 67.4%, 34.9%);
    --x-color-violet-10: hsl(265.1, 61.5%, 21.4%);
    --x-color-purple-0: hsl(270, 100%, 98%);
    --x-color-purple-1: hsl(268.7, 100%, 95.5%);
    --x-color-purple-2: hsl(268.6, 100%, 91.8%);
    --x-color-purple-3: hsl(269.2, 97.4%, 85.1%);
    --x-color-purple-4: hsl(270, 95.2%, 75.3%);
    --x-color-purple-5: hsl(270.7, 91%, 65.1%);
    --x-color-purple-6: hsl(271.5, 81.3%, 55.9%);
    --x-color-purple-7: hsl(272.1, 71.7%, 47.1%);
    --x-color-purple-8: hsl(272.9, 67.2%, 39.4%);
    --x-color-purple-9: hsl(273.6, 65.6%, 32%);
    --x-color-purple-10: hsl(276, 59.5%, 16.5%);
    --x-color-fuchsia-0: hsl(289.1, 100%, 97.8%);
    --x-color-fuchsia-1: hsl(287, 100%, 95.5%);
    --x-color-fuchsia-2: hsl(288.3, 95.8%, 90.6%);
    --x-color-fuchsia-3: hsl(291.1, 93.1%, 82.9%);
    --x-color-fuchsia-4: hsl(292, 91.4%, 72.5%);
    --x-color-fuchsia-5: hsl(292.2, 84.1%, 60.6%);
    --x-color-fuchsia-6: hsl(293.4, 69.5%, 48.8%);
    --x-color-fuchsia-7: hsl(294.7, 72.4%, 39.8%);
    --x-color-fuchsia-8: hsl(295.4, 70.2%, 32.9%);
    --x-color-fuchsia-9: hsl(296.7, 63.6%, 28%);
    --x-color-fuchsia-10: hsl(297.1, 56.8%, 14.5%);
    --x-color-pink-0: hsl(327.3, 73.3%, 97.1%);
    --x-color-pink-1: hsl(325.7, 77.8%, 94.7%);
    --x-color-pink-2: hsl(325.9, 84.6%, 89.8%);
    --x-color-pink-3: hsl(327.4, 87.1%, 81.8%);
    --x-color-pink-4: hsl(328.6, 85.5%, 70.2%);
    --x-color-pink-5: hsl(330.4, 81.2%, 60.4%);
    --x-color-pink-6: hsl(333.3, 71.4%, 50.6%);
    --x-color-pink-7: hsl(335.1, 77.6%, 42%);
    --x-color-pink-8: hsl(335.8, 74.4%, 35.3%);
    --x-color-pink-9: hsl(335.9, 69%, 30.4%);
    --x-color-pink-10: hsl(336.2, 65.4%, 15.9%);
    --x-color-rose-0: hsl(355.7, 100%, 97.3%);
    --x-color-rose-1: hsl(355.6, 100%, 94.7%);
    --x-color-rose-2: hsl(352.7, 96.1%, 90%);
    --x-color-rose-3: hsl(352.6, 95.7%, 81.8%);
    --x-color-rose-4: hsl(351.3, 94.5%, 71.4%);
    --x-color-rose-5: hsl(349.7, 89.2%, 60.2%);
    --x-color-rose-6: hsl(346.8, 77.2%, 49.8%);
    --x-color-rose-7: hsl(345.3, 82.7%, 40.8%);
    --x-color-rose-8: hsl(343.4, 79.7%, 34.7%);
    --x-color-rose-9: hsl(341.5, 75.5%, 30.4%);
    --x-color-rose-10: hsl(341.3, 70.1%, 17.1%);
    --x-color-primary-0: var(--x-color-sky-0);
    --x-color-primary-1: var(--x-color-sky-1);
    --x-color-primary-2: var(--x-color-sky-2);
    --x-color-primary-3: var(--x-color-sky-3);
    --x-color-primary-4: var(--x-color-sky-4);
    --x-color-primary-5: var(--x-color-sky-5);
    --x-color-primary-6: var(--x-color-sky-6);
    --x-color-primary-7: var(--x-color-sky-7);
    --x-color-primary-8: var(--x-color-sky-8);
    --x-color-primary-9: var(--x-color-sky-9);
    --x-color-primary-10: var(--x-color-sky-10);
    --x-color-success-0: var(--x-color-green-0);
    --x-color-success-1: var(--x-color-green-1);
    --x-color-success-2: var(--x-color-green-2);
    --x-color-success-3: var(--x-color-green-3);
    --x-color-success-4: var(--x-color-green-4);
    --x-color-success-5: var(--x-color-green-5);
    --x-color-success-6: var(--x-color-green-6);
    --x-color-success-7: var(--x-color-green-7);
    --x-color-success-8: var(--x-color-green-8);
    --x-color-success-9: var(--x-color-green-9);
    --x-color-success-10: var(--x-color-green-10);
    --x-color-warning-0: var(--x-color-amber-0);
    --x-color-warning-1: var(--x-color-amber-1);
    --x-color-warning-2: var(--x-color-amber-2);
    --x-color-warning-3: var(--x-color-amber-3);
    --x-color-warning-4: var(--x-color-amber-4);
    --x-color-warning-5: var(--x-color-amber-5);
    --x-color-warning-6: var(--x-color-amber-6);
    --x-color-warning-7: var(--x-color-amber-7);
    --x-color-warning-8: var(--x-color-amber-8);
    --x-color-warning-9: var(--x-color-amber-9);
    --x-color-warning-10: var(--x-color-amber-10);
    --x-color-danger-0: var(--x-color-red-0);
    --x-color-danger-1: var(--x-color-red-1);
    --x-color-danger-2: var(--x-color-red-2);
    --x-color-danger-3: var(--x-color-red-3);
    --x-color-danger-4: var(--x-color-red-4);
    --x-color-danger-5: var(--x-color-red-5);
    --x-color-danger-6: var(--x-color-red-6);
    --x-color-danger-7: var(--x-color-red-7);
    --x-color-danger-8: var(--x-color-red-8);
    --x-color-danger-9: var(--x-color-red-9);
    --x-color-danger-10: var(--x-color-red-10);
    --x-color-info-0: var(--x-color-gray-0);
    --x-color-info-1: var(--x-color-gray-1);
    --x-color-info-2: var(--x-color-gray-2);
    --x-color-info-3: var(--x-color-gray-3);
    --x-color-info-4: var(--x-color-gray-4);
    --x-color-info-5: var(--x-color-gray-5);
    --x-color-info-6: var(--x-color-gray-6);
    --x-color-info-7: var(--x-color-gray-7);
    --x-color-info-8: var(--x-color-gray-8);
    --x-color-info-9: var(--x-color-gray-9);
    --x-color-info-10: var(--x-color-gray-10);
    --x-primary-color: var(--x-color-primary-5);
    --x-success-color: var(--x-color-success-5);
    --x-warning-color: var(--x-color-warning-5);
    --x-danger-color: var(--x-color-danger-5);
    --x-info-color: var(--x-color-info-5);
    --x-color-theme-0: var(--x-color-gray-0);
    --x-color-theme-1: var(--x-color-gray-1);
    --x-color-theme-2: var(--x-color-gray-2);
    --x-color-theme-3: var(--x-color-gray-3);
    --x-color-theme-4: var(--x-color-gray-4);
    --x-color-theme-5: var(--x-color-gray-5);
    --x-color-theme-6: var(--x-color-gray-6);
    --x-color-theme-7: var(--x-color-gray-7);
    --x-color-theme-8: var(--x-color-gray-8);
    --x-color-theme-9: var(--x-color-gray-9);
    --x-color-theme-10: var(--x-color-gray-10);
    --x-theme-color: hsl(0, 0%, 40%);
    --x-theme-bgcolor: hsl(0, 0%, 99%);
    --x-theme-bgcolor-1: hsl(0, 0%, 98%);
    --x-theme-bgcolor-2: hsl(0, 0%, 100%);
    --x-theme-bgcolor-3: hsl(0, 0%, 97%);
    --x-theme-bgcolor-4: hsl(0, 0%, 96%);
    --x-border-radius-x-small: 0.2rem;
    --x-border-radius-small: 0.3rem;
    --x-border-radius-medium: 0.5rem;
    --x-border-radius-large: 1rem;
    --x-border-radius-x-large: 1.2rem;
    --x-border-radius-circle: 50%;
    --x-border-radius-pill: 9999px;
    --x-shadow-x-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.06);
    --x-shadow-small: 0 1px 2px hsla(240, 3.8%, 46.1%, 0.12);
    --x-shadow-medium: 0 2px 4px hsla(240, 3.8%, 46.1%, 0.12);
    --x-shadow-large: 0 2px 8px hsla(240, 3.8%, 46.1%, 0.12);
    --x-shadow-x-large: 0 4px 16px hsla(240, 3.8%, 46.1%, 0.12);
    --x-font-size-x-small: 0.75rem;
    --x-font-size-small: 0.875rem;
    --x-font-size-medium: 1rem;
    --x-font-size-large: 1.25rem;
    --x-font-size-x-large: 1.5rem;
    --x-font-weight-x-small: 100;
    --x-font-weight-small: 200;
    --x-font-weight-medium: 300;
    --x-font-weight-large: 400;
    --x-font-weight-x-large: 500;
    /* 间距 */
    --x-spacing-x-small: 0.5rem;
    --x-spacing-small: 0.75rem;
    --x-spacing-medium: 1rem;
    --x-spacing-large: 1.25rem;
    --x-spacing-x-large: 1.75rem;
    --x-letter-spacing-x-small: calc(var(--x-spacing-medium) * 0.01);
    --x-letter-spacing-small: calc(var(--x-spacing-medium) * 0.02);
    --x-letter-spacing-medium: calc(var(--x-spacing-medium) * 0.05);
    --x-letter-spacing-large: calc(var(--x-spacing-medium) * 0.1);
    --x-letter-spacing-x-large: calc(var(--x-spacing-medium) * 0.1);
    --x-line-height-x-small: var(--x-spacing-medium);
    --x-line-height-small: calc(var(--x-spacing-medium) * 1.2);
    --x-line-height-medium: calc(var(--x-spacing-medium) * 1.5);
    --x-line-height-large: calc(var(--x-spacing-medium) * 1.8);
    --x-line-height-x-large: calc(var(--x-spacing-medium) * 2);
}

:host([data-radius='none']),
:root[data-radius='none'] {
    --auto-border-radius: 0px !important;
}

:host([data-spacing='none']),
:root[data-spacing='none'] {
    --auto-spacing: 0px !important;
    --auto-padding: var(--x-spacing-medium) !important;
    --auto-margin: var(--x-spacing-medium) !important;
}

:host([data-spacing='medium']),
:root[data-spacing='medium'] {
    --auto-spacing: var(--x-spacing-medium) !important;
    --auto-padding: var(--x-spacing-medium) !important;
    --auto-margin: var(--x-spacing-medium) !important;
}

:root,
:host([data-theme]),
[data-theme] {
    /* 主题色 */
    --x-theme-color: var(--x-color-theme-9);
    --x-theme-bgcolor: var(--x-color-theme-1);
    --x-theme-bgcolor-1: var(--x-color-theme-2);
    --x-theme-bgcolor-2: var(--x-color-theme-3);
    --x-theme-bgcolor-3: var(--x-color-theme-4);
    --x-theme-bgcolor-4: var(--x-color-theme-5);
    /* 主色调 */
    --auto-primary-color: var(--x-color-primary-5);
    --auto-success-color: var(--x-color-success-5);
    --auto-danger-color: var(--x-color-danger-5);
    --auto-warning-color: var(--x-color-warning-5);
    --auto-info-color: var(--x-color-info-5);
    --auto-theme-color: var(--x-color-theme-5);
    /* 字体颜色 */
    --auto-color: var(--x-theme-color);
    --auto-secondary-color: var(--x-color-theme-4);
    --auto-disable-color: var(--x-color-theme-3);
    --auto-hover-color: var(--x-color-theme-4);
    --auto-dark-color: color-mix(in srgb, var(--auto-color), black 10%);
    --auto-light-color: color-mix(in srgb, var(--auto-color), white 10%);
    /* 背景颜色: 用于面板/对话框/组件的背景 */
    --auto-bgcolor: var(--x-theme-bgcolor);
    --auto-workspace-bgcolor: color-mix(in hsl, var(--auto-bgcolor), black 3%);
    /* 亮色: 相对于背景的亮色*/
    --auto-light-bgcolor: color-mix(in hsl, var(--auto-bgcolor), white 20%);
    /* 暗色: 相对于背景的暗色背景*/
    --auto-dark-bgcolor: color-mix(in hsl, var(--auto-bgcolor), black 20%);
    /** 标题背景颜色：用于标题/标题栏的背景颜色*/
    --auto-title-bgcolor: var(--x-theme-bgcolor-1);
    /* 面板背景颜色：用于面板/区块/Drawer等背景颜色*/
    --auto-panel-bgcolor: var(--x-theme-bgcolor-2);
    /** 随随色背景颜色：用于自动选中颜色，或根据背景颜色自动匹配背景颜色*/
    --auto-selected-bgcolor: color-mix(in srgb, var(--auto-bgcolor) 60%, transparent);
    --auto-hover-bgcolor: color-mix(in srgb, var(--auto-bgcolor), black 5%);
    /** 输入框背景颜色：用于输入框背景颜色*/
    --auto-input-bgcolor: var(--x-theme-bgcolor);
    /* 边框 */
    --auto-active-border: 1px solid var(--auto-border-active-color);
    --auto-border-color: var(--x-color-theme-2);
    --auto-border-active-color: var(--x-color-primary-3);
    --auto-selected-border: 1px solid var(--auto-border-color);
    --auto-border: 1px solid var(--auto-border-color);
    /* 排版/字体 */
    --auto-font: var(--auto-font-weight) var(--auto-font-size)/1.5 var(--auto-font-family);
    --auto-font-family: Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    --auto-font-size: var(--x-font-size-medium);
    --auto-font-weight: var(--x-font-weight-medium);
    --auto-letter-spacing: var(--x-letter-spacing-medium);
    --auto-line-height: var(--x-line-height-medium);
    /* 标题，用于导航/标题栏/标签页标题 */
    --auto-title-font: calc(var(--auto-font-weight) + 200) calc(var(--auto-font-size) * 1.1)/1.5 var(--auto-font-family);
    --auto-panel-header-color: var(--x-color-primary-6);
    /* 边框/间距 */
    --auto-border-radius: var(--x-border-radius-medium);
    --auto-spacing: var(--x-spacing-medium);
    --auto-padding: var(--x-spacing-medium);
    --auto-margin: var(--x-spacing-medium);
    --auto-shadow: var(--x-shadow-medium);
    /* 输入框 */
    --auto-input-padding: calc(0.5 * var(--auto-padding));
    --auto-input-height: var(--x-line-height-medium);
    --auto-icon-size: calc(1.5 * var(--x-font-size-medium));
}

:host([data-radius='x-small']),
[data-radius='x-small'] {
    --auto-border-radius: var(--x-border-radius-x-small);
}

:host([data-spacing='x-small']),
[data-spacing='x-small'] {
    --auto-spacing: var(--x-spacing-x-small) !important;
    --auto-padding: var(--x-spacing-x-small) !important;
    --auto-margin: var(--x-spacing-x-small) !important;
}

:host([data-size='x-small']),
[data-size='x-small'] {
    /* 排版/字体 */
    --auto-font-size: var(--x-font-size-x-small);
    --auto-font-weight: var(--x-font-weight-x-small);
    --auto-spacing: var(--x-spacing-x-small);
    --auto-padding: var(--x-spacing-x-small);
    --auto-margin: var(--x-spacing-x-small);
    --auto-letter-spacing: var(--x-letter-spacing-x-small);
    --auto-line-height: var(--x-line-height-x-small);
    /* 用于内边距和外边距 */
    --auto-shadow: var(--x-shadow-x-small);
    --auto-icon-size: calc(1.5 * var(--x-font-size-x-small));
    /* 输入框 */
    --auto-input-height: var(--x-input-height-x-small);
}

:host([data-radius='small']),
[data-radius='small'] {
    --auto-border-radius: var(--x-border-radius-small);
}

:host([data-spacing='small']),
[data-spacing='small'] {
    --auto-spacing: var(--x-spacing-small) !important;
    --auto-padding: var(--x-spacing-small) !important;
    --auto-margin: var(--x-spacing-small) !important;
}

:host([data-size='small']),
[data-size='small'] {
    /* 排版/字体 */
    --auto-font-size: var(--x-font-size-small);
    --auto-font-weight: var(--x-font-weight-small);
    --auto-spacing: var(--x-spacing-small);
    --auto-padding: var(--x-spacing-small);
    --auto-margin: var(--x-spacing-small);
    --auto-letter-spacing: var(--x-letter-spacing-small);
    --auto-line-height: var(--x-line-height-small);
    /* 用于内边距和外边距 */
    --auto-shadow: var(--x-shadow-small);
    --auto-icon-size: calc(1.5 * var(--x-font-size-small));
    /* 输入框 */
    --auto-input-height: var(--x-input-height-small);
}

:host([data-radius='large']),
[data-radius='large'] {
    --auto-border-radius: var(--x-border-radius-large);
}

:host([data-spacing='large']),
[data-spacing='large'] {
    --auto-spacing: var(--x-spacing-large) !important;
    --auto-padding: var(--x-spacing-large) !important;
    --auto-margin: var(--x-spacing-large) !important;
}

:host([data-size='large']),
[data-size='large'] {
    /* 排版/字体 */
    --auto-font-size: var(--x-font-size-large);
    --auto-font-weight: var(--x-font-weight-large);
    --auto-spacing: var(--x-spacing-large);
    --auto-padding: var(--x-spacing-large);
    --auto-margin: var(--x-spacing-large);
    --auto-letter-spacing: var(--x-letter-spacing-large);
    --auto-line-height: var(--x-line-height-large);
    /* 用于内边距和外边距 */
    --auto-shadow: var(--x-shadow-large);
    --auto-icon-size: calc(1.5 * var(--x-font-size-large));
    /* 输入框 */
    --auto-input-height: var(--x-input-height-large);
}

:host([data-radius='x-large']),
[data-radius='x-large'] {
    --auto-border-radius: var(--x-border-radius-x-large);
}

:host([data-spacing='x-large']),
[data-spacing='x-large'] {
    --auto-spacing: var(--x-spacing-x-large) !important;
    --auto-padding: var(--x-spacing-x-large) !important;
    --auto-margin: var(--x-spacing-x-large) !important;
}

:host([data-size='x-large']),
[data-size='x-large'] {
    /* 排版/字体 */
    --auto-font-size: var(--x-font-size-x-large);
    --auto-font-weight: var(--x-font-weight-x-large);
    --auto-spacing: var(--x-spacing-x-large);
    --auto-padding: var(--x-spacing-x-large);
    --auto-margin: var(--x-spacing-x-large);
    --auto-letter-spacing: var(--x-letter-spacing-x-large);
    --auto-line-height: var(--x-line-height-x-large);
    /* 用于内边距和外边距 */
    --auto-shadow: var(--x-shadow-large);
    --auto-icon-size: calc(1.5 * var(--x-font-size-large));
    --auto-input-height: var(--x-input-height-x-large);
}