:host([data-theme=blue]),
:root[data-theme=blue],
[data-theme=blue] {
  color-scheme: dark;
  --x-color-primary-0: #ffffff;
  --x-color-primary-1: #ffffff;
  --x-color-primary-2: #e8f9da;
  --x-color-primary-3: #ccf3ac;
  --x-color-primary-4: #b0ec7f;
  --x-color-primary-5: #94e552;
  --x-color-primary-6: #80e031;
  --x-color-primary-7: #6dcd1f;
  --x-color-primary-8: #5cac1a;
  --x-color-primary-9: #4a8b15;
  --x-color-primary-10: #396a10;
  --x-primary-bgcolor: var(--x-color-primary-1);
  --x-primary-bgcolor-1: var(--x-color-primary-2);
  --x-primary-bgcolor-2: var(--x-color-primary-3);
  --x-primary-bgcolor-3: var(--x-color-primary-4);
  --x-primary-bgcolor-4: var(--x-color-primary-5);
  --x-color-success-0: var(--x-color-green-0);
  --x-color-success-1: var(--x-color-green-1);
  --x-color-success-2: var(--x-color-green-2);
  --x-color-success-3: var(--x-color-green-3);
  --x-color-success-4: var(--x-color-green-4);
  --x-color-success-5: var(--x-color-green-5);
  --x-color-success-6: var(--x-color-green-6);
  --x-color-success-7: var(--x-color-green-7);
  --x-color-success-8: var(--x-color-green-8);
  --x-color-success-9: var(--x-color-green-9);
  --x-color-success-10: var(--x-color-green-10);
  --x-color-warning-0: var(--x-color-amber-0);
  --x-color-warning-1: var(--x-color-amber-1);
  --x-color-warning-2: var(--x-color-amber-2);
  --x-color-warning-3: var(--x-color-amber-3);
  --x-color-warning-4: var(--x-color-amber-4);
  --x-color-warning-5: var(--x-color-amber-5);
  --x-color-warning-6: var(--x-color-amber-6);
  --x-color-warning-7: var(--x-color-amber-7);
  --x-color-warning-8: var(--x-color-amber-8);
  --x-color-warning-9: var(--x-color-amber-9);
  --x-color-warning-10: var(--x-color-amber-10);
  --x-color-danger-0: var(--x-color-red-0);
  --x-color-danger-1: var(--x-color-red-1);
  --x-color-danger-2: var(--x-color-red-2);
  --x-color-danger-3: var(--x-color-red-3);
  --x-color-danger-4: var(--x-color-red-4);
  --x-color-danger-5: var(--x-color-red-5);
  --x-color-danger-6: var(--x-color-red-6);
  --x-color-danger-7: var(--x-color-red-7);
  --x-color-danger-8: var(--x-color-red-8);
  --x-color-danger-9: var(--x-color-red-9);
  --x-color-danger-10: var(--x-color-red-10);
  --x-color-info-0: var(--x-color-gray-0);
  --x-color-info-1: var(--x-color-gray-1);
  --x-color-info-2: var(--x-color-gray-2);
  --x-color-info-3: var(--x-color-gray-3);
  --x-color-info-4: var(--x-color-gray-4);
  --x-color-info-5: var(--x-color-gray-5);
  --x-color-info-6: var(--x-color-gray-6);
  --x-color-info-7: var(--x-color-gray-7);
  --x-color-info-8: var(--x-color-gray-8);
  --x-color-info-9: var(--x-color-gray-9);
  --x-color-info-10: var(--x-color-gray-10);
  --x-primary-color: var(--x-color-primary-5);
  --x-success-color: var(--x-color-success-5);
  --x-warning-color: var(--x-color-warning-5);
  --x-danger-color: var(--x-color-danger-5);
  --x-info-color: var(--x-color-info-5);
  --x-color-theme-0: #001c49;
  --x-color-theme-1: #002766;
  --x-color-theme-2: #003a8c;
  --x-color-theme-3: #0050b3;
  --x-color-theme-4: #096dd9;
  --x-color-theme-5: #1890ff;
  --x-color-theme-6: #40a9ff;
  --x-color-theme-7: #69c0ff;
  --x-color-theme-8: #91d5ff;
  --x-color-theme-9: #bae7ff;
  --x-color-theme-10: #e6f7ff;
  --x-theme-color: var(--x-color-theme-9);
  --x-theme-bgcolor: var(--x-color-theme-0);
  --x-theme-bgcolor-1: var(--x-color-theme-1);
  --x-theme-bgcolor-2: var(--x-color-theme-2);
  --x-theme-bgcolor-3: var(--x-color-theme-3);
  --x-theme-bgcolor-4: var(--x-color-theme-4);
}